@font-face {
	font-family: "Ubuntu";
	src: url("../fonts/ubuntu.ttf");
}

@font-face {
	font-family: "Ubuntu";
	font-weight: bold;
	src: url("../fonts/ubuntu-bold.ttf");
}

a {
	color: #4c762f;
}

b {
	font-weight: bold;
}

code {
	font-family: monospace;
	font-size: 11pt;
	line-height: 1em;
}

body {
	background: url("../img/bg.jpg");
	font-family: "Ubuntu", sans-serif;
	font-size: 11pt;
	line-height: 1.2em;
	min-width: 1400px;
}

h1 {
	border-bottom: 1px solid #4c762f;
	font-size: 21pt;
	font-weight: bold;
	margin-bottom: 1em;
	padding-bottom: 0.45em;
}

h2 {
	font-size: 17pt;
	font-weight: bold;
	margin-bottom: 0.6em;
	margin-top: 0.5em;
}

li {
	list-style-type: disc;
	margin-left: 2em;
}

p {
	margin-bottom: 0.5em;
}

pre {
	font-family: monospace;
	font-size: 12pt;
	line-height: 1em;
	margin-bottom: 1em;
	margin-bottom: 1em;
}

table {
	border: 1px solid #4c762f;
	font-size: 10.5pt;
	margin-top: 20px;
	width: 100%;
}

td {
	padding: 1px 2px;
	text-align: right;
}

td:first-child {
	text-align: left !important;
}

tr {
	cursor: initial;
}

tr:nth-child(odd) {
	background: #eee;
}

tr:first-child {
	background: #4c762f !important;
	color: #fff;
	font-weight: bold;
}

/*
tr:hover:not(:first-child) {
	color: #4c762f;
}
*/

#container {
	display: block;
	margin: 20px auto;
	max-width: 95%;
}

#contacts {
	display: grid;
	font-size: 12pt;
	grid-template-columns: repeat(10, 1fr);
	line-height: 1.0em;
	margin-bottom: 20px;
}

#contacts>* {
	text-align: center;
}

#content-grid {
	display: grid;
	gap: 24px;
	grid-template-columns: 1fr 256px;
}

#grid-wrapper {
	display: grid;
	gap: 16px;
	grid-template-columns: 256px 1fr;
	width: 100%;
}

#header {
	display: block;
	color: #444;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 10px 0;
}

#header-wrapper {
	display: block;
	margin: 0 auto;
	width: fit-content;
}

#header-wrapper>span {
	margin: 0px 16px;
}

#hero {
	background: #223c1a;
	padding: 8px 0;
	width: 100%;
}

#hero>img {
	display: block;
	margin: 10px auto;
	max-width: 90%;
	width: 900px;
}

#image-content {
	margin-top: 4px;
}

.image-container {
	display: block;
	
	/* Dimensions */
	height: 246px;
	width: 246px;
}

.image-container>img {
	width: 100%;
}

.info {
	background: #ffe8bf;
	border: 1px solid #634935;
	border-radius: 2px;
	color: #634935;
	line-height: 1.0em;
	margin-top: 20px;
	padding: 9px 0;
}

.info>* {
	margin: 0 10px;
}

#text-content {
	background: #fff;
	border: 1px solid #555;
	border-radius: 2px;
	box-shadow: 0px 1px 9px rgb(0, 0, 0, 0.2);
	height: fit-content;
	padding-bottom: 32px;
	padding-top: 32px;
}

#text-content>* {
	margin-left: 20px;
	margin-right: 20px;
}

#sidebar {
	height: fit-content;
	line-height: 1.06em;
	padding-bottom: 30px;
	padding-top: 12px;
}

#sidebar>* {
	margin: 0 10px;
}

#sidebar>p {
	margin-bottom: 6px;
	margin-top: 12px;
}

#sidebar>ul>li {
	line-height: 0.9em;
	margin-bottom: 5px;
}

.styled-box {
	background: #eff5ec; 
	border: 1px solid #4c762f;
	border-radius: 2px;
	box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.1);
}

/* Product boxes */

.product-details-btn {
	display: flex;
	justify-content: end;
	margin-bottom: 1.3em; /* compensate for margin-top */
	margin-top: -3.4em;
	width: 100%;
}

.product-details-btn>div {
	background: #2a7dc9;
	border-radius: 2px;
	color: white;
	display: block;
	font-weight: bold;
	margin-right: 1em;
	padding: 2px;
	padding-right: 4px;
	text-align: center;
	text-decoration: none !important;
	width: 70px;
}

#product-grid {
	display: grid;
	gap: 5px;
	grid-template-columns: repeat(6, 16%);
	width: calc(100% - 5px * 5);
}

#product-grid>div>a {
	text-decoration: none !important;
}

.product-id-debug {
	color: #999;
	display: block;
	margin-bottom: -0.5em;
	text-align: right;
}

.product-image {
	aspect-ratio: 1/1;
	background: #eee;
	display: block;
	margin-bottom: 1em;
	max-height: 100%;
	object-fit: cover;
	width: 100%;
}

.product-subtitle {
	color: #444;
	font-size: 10.5pt;
	line-height: 1em;
}

.product-title {
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 0.2em;
	margin-right: 10%;
}

.product-title>a {
	text-decoration: none;
}

